<!DOCTYPE html>
<html>
	<head>
		{{! Document Settings }}

		{{! Page Meta }}
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

		{{! Styles'n'Scripts }}
		<link rel="stylesheet" href="{{asset "css/style.css"}}" type="text/css" media="all" />
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,800italic,400,700,800|Gentium+Book+Basic:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <script async defer src="https://static.factlink.com/lib/dist/factlink_loader.min.js"></script>
    <script async defer type="text/javascript" src="{{asset "js/general.js"}}"></script>

		{{! Ghost outputs important style and meta data with this tag }}
    	{{ghost_head}}
	</head>

	<body class="{{body_class}}">
		<div id="wrapper">

			{{! Everything else gets inserted here }}
    		{{{body}}}
    	</div>

		{{! Ghost outputs important scripts and data with this tag }}
    	{{ghost_foot}}

	</body>
</html>
